button{
	width:20%;
	float:left;
	background-color:white;
	border:none;
	font-family:"Dosis",sans-serif;
	font-size:18px;
	text-transform:uppercase;
}
button:hover{
	background-color:#A0A0A0;
	color:white;
	cursor:pointer;
}