.information{
	max-width:1024px;
	margin:0 auto;
}
.container-title-img{
	padding:80px;
}
.container-buscador{
	width:70%;
	margin:0 auto;
	padding-top:40px;
}
.container-subtitle{
	margin:40px;
	padding:60px;
}
