input[type="text"]{

	background: #E6E6E6;
    display: block;
    font-size: 0.876rem;
    width: 80%;
    border: none;
    color:#A0A0A0;
    font-weight: 400;
    float:left;
}
input,button{
	padding: .7rem;
    line-height: 1rem;
}